body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

body > * {
  max-width: 800px;
  margin: 0 auto;
}

code {
  tab-size: 2;
}
.header__title {
  margin-bottom: 0;
}

.header__photo {
  width: 200px;
}

.header__job-function {
  padding: 0;
  margin: 0 0 16px 0;
  font-size: 24px;
}

.contact__list > * {
  position: relative;
}

.contact__list > *::before {
  color: black;
  left: -20px;
  position: absolute;
  height: 16px;
  width: 16px;
  bottom: 0;
}

.contact__phone::before {
  content: url("./assets/phone-square-solid.svg");
}

.contact__email::before {
  content: url("./assets/envelope-regular.svg");
}

.contact__tg::before {
  content: url("./assets/telegram-brands.svg");
}

.contact__discord::before {
  content: url("./assets/discord-brands.svg");
}

.contact__github::before {
  content: url("./assets/github-brands.svg");
}

.contact__list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 20px;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  padding: 4px 8px;
  text-align: left;
}
